.pokemon{
    border: 2px solid orange;
    width: 300px;
}

/* .card img{

    width: 600px;
    height: 300px;
} */

.parent{
    display: flex;
    justify-content: space-around;

}
.card{
    margin: 10px;
}
.card-text{
    color: orange;
    text-align: center;
    /* text-size-adjust: ; */
}